:root {
	--bc-blue: #2196f3;
	--bc-black: #000000;
	--bc-light-black: #212121;
	--bc-gray: #757575;
	--bc-white: #ffffff;
	--bc-back: #2f303a;

	--bc-semi-white: rgb(255 255 255 / 0.6);
}

body {
	color: var(--bc-gray);
	background-color: var(--bc-white);
	font-family: Roboto, sans-serif;
	font-style: normal;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.site-nav .link.current {
	color: var(--bc-blue);
}

/* logo customize */
.logo {
	color: var(--bc-blue);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo.top {
	color: var(--bc-black);
}
.logo.bot {
	color: var(--bc-white);
}
/* navigation */

.site-nav,
.contact-nav {
	color: var(--bc-light-black);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link {
	color: var(--bc-black);
}
.contact-nav .link {
	color: var(--bc-gray);
}
.link:hover,
.link:focus {
	color: var(--bc-blue);
}
/* hero */
/* features */
/* what_are_we_doing */
/* our_team */
/* footer */
