/*
цвета

logo color
#2196F3
#000000

нормальный цвет навигации и h3 h2
#212121
цвет навигации при ховере как в лого

цвет телефона и майла и p
#757575
при наведении как лого

основной белый
#FFFFFF

цвет фона героя и футера
#2F303A

цвет мейла и телефона в футере
rgba(255, 255, 255, 0.6)
*/

/* 
шрифты 
WebStudio nav и футер
Raleway
700

остальная навигация и подписи фоток
Roboto
500

Герой
Roboto
900

Кнопка заказать услугу
Roboto
700

h2 h3
Roboto
700

p и должность на фотках и (адрес мыло телефон в футере)
Roboto
400

.element {
  color: rgb(255 255 255 / .65);
  background-color: rgb(0 0 0 / .95);
}

*/
/* body {
	color: #757575;
} */
/* --------------------------------------- */
:root {
	--bc-blue: #2196f3;
	--bc-black: #000000;
	--bc-light-black: #212121;
	--bc-gray: #757575;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

/* navigation */

.logo span,
.list a:hover {
	color: var(--bc-blue);
}

.logo {
	color: var(--bc-black);
}

.site-nav a {
	color: var(--bc-light-black);
}

.contact-nav a {
	color: var(--bc-gray);
}
